export const sources = [
  {
    endpoint: 'https://graphql-pokemon2.vercel.app',
    query: `{pokemons(first: 1) {id name} pokemon(id: "UG9rZW1vbjowMDE=") {name}}`
  },
  {
    endpoint: 'https://countries.trevorblades.com/',
    query: `{
      country(code: "BY") {
        name
      }
    }`
  },
]