.title {
  text-align: center;
}

.graphiql {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 1rem;
  }
}

.test-div {
  height: 800px;
  width: 100vw;
  background-color: #a0a0a081;
}
